.fade-in-bg {
  animation: fadeIn-bg 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes swipeRight {
  0% {
    transform: translate(-50px,0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
  }
}

@keyframes fadeIn-bg {
  0% { background: rgba(28, 30, 33, 0);  }
  100% { background: rgba(28, 30, 33, .9); }
}

.fade-in-delay0 {
  animation: fadeIn 1s;
  animation-timing-function: linear;
}

.swipeRight {
  animation: swipeRight 1s;
}


.fade-in-delay1 {
  animation: fadeIn 3s;
}

.fade-in-delay2 {
  animation: fadeIn 4s;
}

